*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial,Helvetica,sans-serif;
}
@media(max-width:767px){
    .desktop{
        display: none;
    }
    .tablet{
        display: none;
    }
}
@media(max-width:767px) and (max-width:990px){
    .desktop{
        display: none;
    }
    .movil{
        display: none;
    }
}
@media(max-width:767px){
    .tablet{
        display: none;
    }
    .movil{
        display: none;
    }
    
}
.Cabecera{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 120px;
}
.Cabecera img{
    width: 1000px;
    height: 70px;
}
.Menú{
    list-style: none;
    padding: 0;
    background:#002a61;    
    width: 100%;
    margin: auto;
}
.Menú li a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: white;
    text-align: center;
}
.Menú li{
    display: inline-block;
    text-align: center;
}
.Menú li a:hover{
    background:rgb(114, 109, 109);
}
.clearfix{
    clear:both 
}
h3{
    color:#000;
}
h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(5, 5, 92);
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 40px;
}
.Contactanos{
    height: 650px;
    width: 100%;
    background-color:rgba(218, 216, 216, 0.747);
}
.Contactanos p{ 
    font-size: 18px;
    line-height: 2;
}
.Contactanos iframe{
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}
.Contactanos form{
    width: 300px;
    float: right;
    margin-left: 20px;
    margin-right: 20px;
}
.CuadroTexto{
    width: 90%;
    background:rgb(16, 16, 126);
    padding: 10px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid white;
    font-family: 'calibri';
    font-size: 14px;
    margin-left: 15px;
}
.Contactanos legend{
    margin-left: 65px;
    font-family: 'calibri';
    font-size: 20px;
    color:rgb(16, 16, 126);
}
.Botones{
    width: 40%;
    background:rgb(16, 16, 126);
    border: none;
    padding: 10px;
    color: white;
    margin-top: 6px;
    font-size: 14px;
    margin-left: 20px;
}
.Contactanos label{
    color:rgb(16, 16, 126);
    font-size: 14px;
    margin-left: 20px;
}
footer{
    background-color:rgb(218, 216, 216);
    height: 60px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
textarea{
    resize: none;
    margin-left: 17px;
}
#content{
    float: left;
    width: 100%;
    background-color:rgb(204, 203, 203);
}
.Categoria{
    width: 80%;
    height: 650px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.Categoria .card{
    width: 225px;
    height: 150px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgb(0,0,0,0.9);
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
}
.Categoria .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgb(0,0,0,0.9);
}
.Categoria .card img{
    width: 225px;
    height: 150px;
}
.Categoria .card p{
    position: absolute; 
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);  
    height: 60px;
    margin-top: 80px;
    line-height: 60px;
    font-size: 14px;
    color:black;
}
.Proveedores{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 500px;
    overflow: hidden;
}
.Proveedores ul{
    display: flex;
    animation: cambio 5s infinite alternate linear;
    width: 400%;
}
.Proveedores li{
    width: 100%;
    list-style: none;
}
.Proveedores img{
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    height: 350px;
    border: 5px solid black;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
.card{
    width: 35%;
    height: 400px;
    margin-left: 10%;
    float: left;
    margin-bottom: 20px;   
    position: relative; 
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}
.card .front img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.card .front h2{
    position: absolute; 
    width: 100%;
    height: 45px;
    line-height: 45px;
    color:white;
    background-color: rgb(0,0,0,.6);
    font-size: 40px;
}
.card .back{
    transform: perspective(600px)rotateY(180deg);
    background-color:rgb(114, 109, 109);
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px black;
}
.card .back h2{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
    color: white
}
.card .back p{
    letter-spacing: 1px;
    line-height: 2;
    text-align: justify;
    font-size: 20px;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
body{
    background:rgb(218, 216, 216);
}
.wrap{
    max-width: 1100px;
    width: 90%;
    margin: auto;  
}
.wrap > h1{
    color:black;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 0px;
}
.wrap > h1::after{
    content: '';
    width: 100%;
    height: 1px;
    background:rgb(114, 109, 109);
    margin: 20px 0;
}
.marca_lista{
    list-style: none;
    padding: 0;
    background:rgb(218, 216, 216);    
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
}
.marca_lista li a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: white;
}
.marca_lista li{
    display: inline-block;
    text-align: left;
    margin-right: 1px;
}
.marca_lista img{
    width: 135px;
    height: 90px;
}
.marca_lista li a:hover{
    background:rgb(114, 109, 109);
}
.producto-lista{
    width: 100%;
    height: 2000px;
    display: flex;
    flex-wrap: wrap;
}
.producto-lista .producto-item{
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    box-shadow: 0px 0px 0px 0px rgb(0,0,0,0.22);
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    align-self: flex-start;
    transition: all .4s;
}
.producto-lista .producto-item img{
    width: 100%;
    height: 250px;
}
.producto-lista .producto-item a{
    display: block;
    width: 100%;
    padding: 8px 0;
    background:rgb(143, 24, 24);
    color:#fff;
    text-align: center;
    text-decoration: none;
}
.producto-lista .producto-item p{
    display: block;
    width: 100%;
    height: 60px;
    background:#fff;
    text-align: center;
    text-decoration: none;
}
.producto-lista .producto-item b{
    display: block;
    width: 100%;
    height: 40px;
    background:#fff;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
.marca_lista .ct_item_active{
    background:rgb(218, 216, 216);
}

.header-section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
}
.header-section div{
    position: relative;
}
.header-section p{
    position: absolute;
    top: -1px;
    background-color: #fff;
    padding: 1px 6px;
    border-radius: 50%;
    color: red;
    font-weight: 700;
    font-family: system-ui;
    line-height: 14px;
    left: 1080px;
}
.cart{
    width: 39px;
    height: 30px;
    bottom: -15px;
    position: relative;
    left: 1050px;
}
.cart-products{
    position: absolute!important;
    top: 82px;
    background-color: #fff;
    padding: 0 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;
    min-width: 290px;
    left: 740px;
}
.cart-products p{
    text-align: center;
    top: 82px;
    background-color: rgb(255, 255, 255);
    padding: 0 18px;
    left: 285px;
}
.cart-products a{
    background-color: rgb(255, 255, 255);
}
.cart:hover{
    margin-bottom: 16px;
    transition-duration: .5s;
}
.products{
    padding-top: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.carts{
    max-width: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding-bottom: 34px;
    margin-bottom: 40px;
}
.carts img{
    width: 100%;
}
.carts p{
    font-family: system-ui;
    font-weight: 500;
    padding: 0 20px;
    margin-bottom: 24px;
}
.carts div p{
    position: absolute;
    top: 0;
    right: 0px;
    background-color: red;
    color: #fff;
    padding: 2px 7px 4px 21px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.carts div{
    position: relative;
}
.carts a{
    font-family: system-ui;
    text-decoration: none;
    background: red;
    padding: 9px 23px;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.carts a:hover{
    background: #fff;
    color: red;
    border: solid 2px red;
    transition-duration: .3s;
}

/*float cart*/
.cart-products .item img{
    width: 100px;
}

.cart-products .item{
    display: flex;
    align-items: center;
    border-bottom: solid 2px red;
}
.cart-products .item .item-content{
    margin: 0 19px;
    width: 201px;
}
.cart-products .item .item-content h5{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item .item-content h6{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item span{
    background-color: red;
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: system-ui;
    cursor: pointer;
}
.cart-products h3{
    margin-bottom: 0;
}
.cart-products .item .item-content h5.cart-price{
    font-weight: 700;
}
p.close-btn{
    top: -4px;
    right: 6px;
    cursor: pointer;
    color: #000;
}
.fab{
    width: 20px;
    text-align: center;
    font-size: 24px;
}
.social{
    position: fixed;
    left: -40px;
    top: 250px;
}
.social ul{
    list-style: none;
}
.social a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px; 
    color: #fff;
    z-index: 0;
    transition: 0.1s ease;
}
.fa-facebook-f{
    text-decoration: none;
    color: #fff;
    background: #3b5998;
}
.fa-instagram{
    text-decoration: none;
    color: #fff;
    background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf);
    border-radius: 30%;
    position: relative;
}
.social a:hover{
    padding: 10px 25px;
}

